body {
    margin: 0;
    background-color: #2c3e50;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    text-align: center;
}

#ui {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    background: #34495e;
}

canvas {
    border: 5px solid #ecf0f1;
    background-color: #000;
    max-width: 95vw;
    max-height: 50vh;
}

/* Кнопки для телефону */
#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background: #f1c40f;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.side-btns {
    display: flex;
    gap: 40px;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 20px;
}
